<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Cartao</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex">

    
    <aside class="w-80 bg-blue-900 text-white min-h-screen p-5">
        <h1 class="text-3xl font-bold text-center">Banco</h1>
        <hr class="my-4 border-white">
        <nav class="mt-4">
            <h2 class="text-lg font-semibold">CARTÃO</h2>
            <ul class="ml-4">
                <li><a href="cartao_cadastro.html" class="block py-2 hover:underline">Cadastrar</a></li>
                <li><a href="cartao_busca.html" class="block py-2 hover:underline">Buscar</a></li>
            </ul>
        </nav>
    </aside>

    
    <main class="flex-1 p-10">
        <h1 class="text-2xl font-bold">Buscar Cartao</h1>
        <div class="mt-6">
            <label class="block font-semibold">Nome Cartao</label>
            <input type="text" id="buscarCartao" class="w-full p-2 border rounded">
            <button onclick="buscarCartao()" class="bg-blue-900 text-white px-4 py-2 mt-2 rounded">Buscar</button>
        </div>
        <div id="resultadoBusca" class="mt-4"></div>
    </main>

    <script src="../js/cartao.js"></script>
</body>
</html>
