<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório de Clientes</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 flex">

    <aside class="w-80 bg-blue-900 text-white min-h-screen p-5">
        <h1 class="text-3xl font-bold text-center">Banco</h1>
        <hr class="my-4 border-white">
        <nav class="mt-4">
            <h2 class="text-lg font-semibold">CLIENTE</h2>
            <ul class="ml-4">
                <li><a href="cliente_cadastro.html" class="block py-2 hover:underline">Cadastrar</a></li>
                <li><a href="cliente_busca.html" class="block py-2 hover:underline">Buscar</a></li>
                <li><a href="cliente_relatorio.html" class="block py-2 hover:underline">Relatórios</a></li>
            </ul>
        </nav>
    </aside>

    <main class="flex-1 p-10">
        <h1 class="text-2xl font-bold mb-4">Relatório de Clientes</h1>

        <button onclick="getData()" class="bg-blue-900 text-white px-4 py-2 rounded">
            Carregar Relatório
        </button>
        

        <div id="relatorioCliente" class="mt-6 p-4 bg-white rounded-lg shadow"></div>
    </main>

    <script src="../js/gemini.js"></script>
</body>

</html>
