<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Cartao</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex">

    
    <aside class="w-80 bg-blue-900 text-white min-h-screen p-5">
        <h1 class="text-3xl font-bold text-center">Banco</h1>
        <hr class="my-4 border-white">
        <nav class="mt-4">
            <h2 class="text-lg font-semibold">FUNCIONARIO</h2>
            <ul class="ml-4">
                <li><a href="funcionario_cadastro.html" class="block py-2 hover:underline">Cadastrar</a></li>
                <li><a href="funcionario_busca.html" class="block py-2 hover:underline">Buscar</a></li>
            </ul>
        </nav>
        <nav class="mt-4">
            <h2 class="text-lg font-semibold">AGENCIA</h2>
            <ul class="ml-4">
                <li><a href="agencia_cadastro.html" class="block py-2 hover:underline">Cadastrar</a></li>
                <li><a href="agencia_busca.html" class="block py-2 hover:underline">Buscar</a></li>
            </ul>
        </nav>
        <nav class="mt-4">
            <h2 class="text-lg font-semibold">CARTAO</h2>
            <ul class="ml-4">
                <li><a href="cartao_cadastro.html" class="block py-2 hover:underline">Cadastrar</a></li>
                <li><a href="cartao_busca.html" class="block py-2 hover:underline">Buscar</a></li>
            </ul>
        </nav>
        <nav class="mt-4">
            <h2 class="text-lg font-semibold">CLIENTE</h2>
            <ul class="ml-4">
                <li><a href="cliente_cadastro.html" class="block py-2 hover:underline">Cadastrar</a></li>
                <li><a href="cliente_busca.html" class="block py-2 hover:underline">Buscar</a></li>
            </ul>
        </nav>
        <nav class="mt-4">
            <h2 class="text-lg font-semibold">CONTA</h2>
            <ul class="ml-4">
                <li><a href="conta_cadastro.html" class="block py-2 hover:underline">Cadastrar</a></li>
                <li><a href="conta_busca.html" class="block py-2 hover:underline">Buscar</a></li>
            </ul>
        </nav>
        <nav class="mt-4">
            <h2 class="text-lg font-semibold">EMPRESTIMO</h2>
            <ul class="ml-4">
                <li><a href="emprestimo_cadastro.html" class="block py-2 hover:underline">Cadastrar</a></li>
                <li><a href="emprestimo_busca.html" class="block py-2 hover:underline">Buscar</a></li>
            </ul>
        </nav>
        <nav class="mt-4">
            <h2 class="text-lg font-semibold">FUNCIONARIO</h2>
            <ul class="ml-4">
                <li><a href="funcionario_cadastro.html" class="block py-2 hover:underline">Cadastrar</a></li>
                <li><a href="funcionario_busca.html" class="block py-2 hover:underline">Buscar</a></li>
            </ul>
        </nav>
        <nav class="mt-4">
            <h2 class="text-lg font-semibold">TRANSACAO</h2>
            <ul class="ml-4">
                <li><a href="transacao_cadastro.html" class="block py-2 hover:underline">Cadastrar</a></li>
                <li><a href="transacao_busca.html" class="block py-2 hover:underline">Buscar</a></li>
            </ul>
        </nav>
    </aside>
    <main class="flex-1 p-10">
        <h1 class="text-2xl font-bold">Bem Vindo</h1>
        <h3 class="text-lg font-bold">Acesse as nossas funcionalidades</h3>

        <div class="mt-8">
            <h2 class="text-xl font-semibold mb-4">Cartões</h2>
            <div class="flex flex-wrap">
                <div class="w-1/2 p-4">
                    <a href="cartao_cadastro.html" class="block bg-blue-900 text-white p-4 rounded text-center">Cadastrar Cartao</a>
                </div>
                <div class="w-1/2 p-4">
                    <a href="cartao_busca.html" class="block bg-blue-900 text-white p-4 rounded text-center">Buscar Cartao</a>
                </div>
            </div>
        </div>

        <div class="mt-8">
            <h2 class="text-xl font-semibold mb-4">Clientes</h2>
            <div class="flex flex-wrap">
                <div class="w-1/2 p-4">
                    <a href="cliente_cadastro.html" class="block bg-blue-900 text-white p-4 rounded text-center">Cadastrar Cliente</a>
                </div>
                <div class="w-1/2 p-4">
                    <a href="cliente_busca.html" class="block bg-blue-900 text-white p-4 rounded text-center">Buscar Cliente</a>
                </div>
            </div>
        </div>

        <div class="mt-8">
            <h2 class="text-xl font-semibold mb-4">Funcionários</h2>
            <div class="flex flex-wrap">
                <div class="w-1/2 p-4">
                    <a href="funcionario_cadastro.html" class="block bg-blue-900 text-white p-4 rounded text-center">Cadastrar Funcionario</a>
                </div>
                <div class="w-1/2 p-4">
                    <a href="funcionario_busca.html" class="block bg-blue-900 text-white p-4 rounded text-center">Buscar Funcionario</a>
                </div>
            </div>
        </div>

        <div class="mt-8">
            <h2 class="text-xl font-semibold mb-4">Agências</h2>
            <div class="flex flex-wrap">
                <div class="w-1/2 p-4">
                    <a href="agencia_cadastro.html" class="block bg-blue-900 text-white p-4 rounded text-center">Cadastrar Agencia</a>
                </div>
                <div class="w-1/2 p-4">
                    <a href="agencia_busca.html" class="block bg-blue-900 text-white p-4 rounded text-center">Buscar Agencia</a>
                </div>
            </div>
        </div>

        <div class="mt-8">
            <h2 class="text-xl font-semibold mb-4">Contas</h2>
            <div class="flex flex-wrap">
                <div class="w-1/2 p-4">
                    <a href="conta_cadastro.html" class="block bg-blue-900 text-white p-4 rounded text-center">Cadastrar Conta</a>
                </div>
                <div class="w-1/2 p-4">
                    <a href="conta_busca.html" class="block bg-blue-900 text-white p-4 rounded text-center">Buscar Conta</a>
                </div>
            </div>
        </div>

        <div class="mt-8">
            <h2 class="text-xl font-semibold mb-4">Empréstimos</h2>
            <div class="flex flex-wrap">
                <div class="w-1/2 p-4">
                    <a href="emprestimo_cadastro.html" class="block bg-blue-900 text-white p-4 rounded text-center">Cadastrar Emprestimo</a>
                </div>
                <div class="w-1/2 p-4">
                    <a href="emprestimo_busca.html" class="block bg-blue-900 text-white p-4 rounded text-center">Buscar Emprestimo</a>
                </div>
            </div>
        </div>

        <div class="mt-8">
            <h2 class="text-xl font-semibold mb-4">Transações</h2>
            <div class="flex flex-wrap">
                <div class="w-1/2 p-4">
                    <a href="transacao_cadastro.html" class="block bg-blue-900 text-white p-4 rounded text-center">Cadastrar Transacao</a>
                </div>
            </div>
        </div>
    </main>

    <script src="../js/funcionario.js"></script>
</body>
</html>